html, body {
	height:100%;
	margin: 0;
	background-image: url(images/carbon.jpg)
}

.header {
	border-radius:10px;
	background: radial-gradient(#8290a5, #142642);
	border:1px solid black;
	margin:20px auto 0;
	display: flex;
	height:160px;
	width:85%;
  	justify-content: center;
	align-items:center;
	text-align:center;
	box-sizing:border-box;
}

.wrapper {
	justify-content:center;
	height:100%;
	display:flex;
	margin:auto;
}
	

.middle {
	display:flex;
	flex-direction:column;
	width: 50%;
	height:100%;
	margin:20px 0 0 15px;
}
	
.item {
	border-radius:10px;
	width: 100%;
	height:25%;
	border:1px solid black;
  	overflow: hidden;
	box-sizing: border-box;
	margin:15px 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#8290a5, #142642);
  height: 30px;
  border-bottom: 1px black solid;
 }
	
.imagecontainer1 {
	height:100%;
	background: url('images/mx5.PNG') no-repeat center/100%;
}

.imagecontainer2 {
	height:100%;
	background: url('images/audi.PNG') no-repeat center/100%;
}

.imagecontainer3 {
	height:100%;
	background: url('images/skip.PNG') no-repeat center/100%;
}

.imagecontainer4 {
	height:100%;
	background: url('images/porsche.jpg') no-repeat center/100%;
}

.left {
	border-radius:10px;
 	width: 25%;
	height:100%;
	margin:20px 15px 20px 0;
	border:1px solid black;
	box-sizing:border-box;
}

.leftimg {
	border-radius:10px;
	width:100%;
	height:100%;
	object-fit:cover;
}
	