html, body {
	height:100%;
	margin: 0;
	background-image: url(images/carbon.jpg);
	font-family: Verdana, Geneva, sans-serif;
	text-shadow: 1px 1px #384e72;
	color: #191e26;
}

.header {
	background: radial-gradient(#3f67aa, #010711);
	border-radius:10px;
	border:1px solid black;
	margin:20px auto 0;
	display: flex;
	height:160px;
	width:85%;
  	justify-content: center;
	align-items:center;
	text-align:center;
}

.contentwrapper {
	justify-content:center;
	height:100%;
	display:flex;
	margin:auto;
}
	

.right {
	display:flex;
	flex-direction:column;
	width: 50%;
	height:100%;
	margin:20px 0 0 15px;
}
	
.item {
	border-radius:10px;
	width: 100%;
	height:25%;
	border:1px solid black;
  	overflow: hidden;
	margin:15px 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#3f67aa, #010711);
  height: 30px;
  border-bottom: 1px black solid;
  font-size:12px;
 }
	
.imagecontainer1 {
	height:100%;
	background: url('images/mx5.PNG') no-repeat center/100%;
}

.imagecontainer2 {
	height:100%;
	background: url('images/audi.PNG') no-repeat center/100%;
}

.imagecontainer3 {
	height:100%;
	background: url('images/skip.PNG') no-repeat center/100%;
}

.imagecontainer4 {
	height:100%;
	background: url('images/porsche.jpg') no-repeat center/100%;
}

.left {
	border-radius:10px;
 	width: 25%;
	height:100%;
	margin:20px 15px 20px 0;
	border:1px solid black;
	box-sizing:border-box;
	background: url(images/ratl.jpg) no-repeat center;
	background-size: cover;
}

.leftcontent {
	padding:15px 25px;
	margin:auto;
	font-size:22px;

	}