body {
  background-color:white;
}

body {background-color: lightgray;}

.flex-heading {
	display:flex;
	align-items:center;
	justify-content:center;
	border:1px solid black;
	height: 100px;
	background-color: grey;
	}


.mainlink {
	display: grid;
	grid-row-gap: 35px;
	/*border: 1px solid black;*/
	width: 702px;
	margin: 35px auto;
}
	
.item {
    height: 160px;
    width: 701px;
    border: 1px solid black;
	background-color: black;
}

.item img {
  	object-fit: cover;
	height: 160px;
	width: 701px;	
}